/* Mobile overrides */
@media (max-width: 768px) {
  #hamburger {
    display: flex !important;
  }
  .mobile-close {
    display: flex !important;
  }
  .mobile-brand {
    display: flex !important;
  }
}
